//
//  ACCORDION
//  
//  @project:       Empregos.com.br
//  @version:       1.0.1
//  @description:   Adaptação do componente "panels" do bootstrap.
//  @author:        Thiago Corbalan
//  @date:          14/09/2017
//  @update:        02/02/2018
//

accordion.panel-group{
    .panel + .panel{
        margin-top: 22px;
    }
    .panel{
        border: 0;
        @include box-shadow(none);

        > .panel-heading{
            background: $color-gray-10;
            padding: 17px 15px;
            border: 0;
            cursor: pointer;

            .panel-title{
                font-size: 20px;
                font-weight: bold;
                color: $color-gray-dark;
                position: relative;
                padding-left: 32px;

                .glyphicon{
                    vertical-align: middle;
                    height: 16px;
                    left: 0;
                    @include centralize-height(16px);
                    
                    &:after{
                        content: $glyphicon-chevron-right;
                        font-family: $font-emp-icons;
                        position: absolute;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 16px;
                        color:$color-blue7;    
                        @include transition(all .1s ease-in-out);
                    }

                    &.glyphicon-chevron-down:after{ 
                        //content: $glyphicon-chevron-down; 
                        @include rotate(90deg);
                    }
                }
            }
        }

        > .panel-collapse .panel-body{
            border: 0;
            //overflow-x: auto;

            @media (max-width: $screen-xs){
                padding: 15px 10px 0;
            }
        }
    }

}