//
//  CANDIDATE PHOTO AREA
//  
//  @project:       Empregos.com.br
//  @version:       2.0.1
//  @description:   Destinado ao componentente área da foto do candidato.
//  @author:        Thiago Corbalan
//  @date:          25/07/2017
//  @update:        28/08/2017
//

@import "../base/mixins";

/* ÁREA FOTO */

.geral {

    .area-foto{
        display:block;
        text-align:center;

        .thumb{    
            position:relative;
            display:inline-block;
            vertical-align:middle;            

            &:after {
                content: $glyphicon-camera;
                position: absolute;
                font-family: $font-emp-icons;
                speak:none;
                font-size: 32px;
                color: #bebebe;
                width:29px;
                height:29px;
                text-indent: -2px;
                line-height: 32px;
                display: block;
                bottom: -2px;
                left: -15px;
                background-color: #f4f4f4;
                border: 1px solid transparent;
                z-index: 10;
                border-radius: 50%;
                @include transition(all 0.3s ease-in-out);
            }
            &:hover:after {
                border: 1px solid #efefef;
                color: #333333;
                @include transition(all 0.3s ease 0s)
            }

            .btn-padrao.branco{
                font-size:.8125em;
                width:100%;
                padding:0;
                margin-top:10px;
                height:27px;
                line-height:27px;
                border:1px solid #b3b3b3;
                cursor:pointer;
            }

            .btn-alterar-foto:focus,
            .btn-padrao.branco:focus{outline:none; }

            .btn-alterar-foto{float:left; background:transparent;}
        }

        .thumb,
        .moldura,
        .moldura:before{
            width:85px;
            height:85px;
        }

        .moldura{
            position:relative;
            display:block;
            overflow:hidden;
            background:$color-white;
            z-index:1;
            margin:0 auto;
            box-shadow: 0 0 0 2px #d1d1d1 inset;
            @include border-radius(100%);

            &:before{
                content: "";
                background:url("#{$path-img}avatar-110x110.gif") no-repeat center;
                background-size:cover;
                font-size: 0;
                display: block;
                z-index: 100;
                @include border-radius(100%);
                @include centralize(81px,81px);
            }
    
            img {
                position: relative;
                z-index: 100;
                @include border-radius(50%);
                width:85px;
                height: auto;
                margin-top:-53px;
                top:50%;
                @include opacity(1);
            }
        }





        /* DADOS DO CANDIDATO */
        .dados-candidato{
            display:block;
            margin:20px 0 0;
            font-family:$font-family-primary;
            color:#666666;

            span{display:block;}

            .nome-candidato{

                span{font-size:1.25em; color:#333333;}

                span,
                .config-perfil {display:inline-block; vertical-align:top;}

                .config-perfil{
                    margin-right: -46px;
                    position:relative;
                    margin-top:-2px;

                    .icon-config {
                        width: 20px;
                        height: 20px;
                        float: left;
                        cursor: pointer;
                        padding: 6px 24px 6px 6px;
                        border: 1px solid $color-white;
                        border-top-left-radius:3px;
                        border-top-right-radius:3px;    
                        position:relative;
                        z-index:91;
                        background:$color-white;
                        @include box-sizing(initial);

                        &:before,
                        &:after{
                            content: $glyphicon-gear;
                            font-family: $font-emp-icons;
                            speak:none;
                            float: left;
                            font-size: 26px;
                            width: 20px;
                            color: #CCC;
                            text-align: center;
                            font-weight: 400;
                            padding: 0;
                            height: 20px;
                            text-indent: -4px;
                            line-height: 24px;
                        }

                        &:after {
                            content: $glyphicon-chevron-down;
                            position: absolute;
                            right: 6px;
                            font-size: 14px;
                            width: auto;
                            height: auto;
                            line-height: 20px;
                        }
                    }

                    /* CONFIGURAÇÃO DO PERFIL (público, confidencial, privado) */
                    .config-conteudo{
                        position:absolute;
                        display:none;
                        top:33px;
                        right:0;
                        width:210px;
                        padding:20px;
                        background:$color-white;
                        z-index:90;
                        border:1px solid #CCCCCC;
    
                        border-top-left-radius:4px;
                        border-bottom-left-radius:4px;
                        border-bottom-right-radius:4px;

                        @include box-shadow(2px 2px 3px rgba(0,0,0,.1));
                        @include box-sizing(initial);

                        .box-form {
                            text-align: left;
                            border-bottom: 1px solid #e1e1e1;
                            padding-bottom:10px;
                            margin-bottom:10px;

                            label{
                                color:#666666; 
                                font-size:.75em; 
                                vertical-align:top;
                                b{
                                    display:block; 
                                    font-size:1.083333333333333em;
                                }
                            }

                            &:last-child{
                                padding-bottom:0;
                                margin-bottom:0;
                                border:0;
                            }
                            &:before{top:0; margin:0;}
                            &:after{top:5px; margin:0;}

                            &.is-checked label{color:#333}

                        }

                    }

                    // Aberto 
                    &.aberto, &:hover{

                        .icon-config {
                            border-color:#CCCCCC;
                            border-bottom-color:$color-white;
                            box-shadow:2px 0 2px rgba(0,0,0,.1);
                        }

                        .config-conteudo{display:block;}
                    }
                }
            }

            .nome-candidato span,
            .cargo-candidato{font-weight:600;}
        
            .email-candidato, 
            .cargo-candidato{font-size:.8125em;}

            .cargo-candidato{display:table; margin:0 auto; width:260px; text-transform:uppercase;}

            a.btn-padrao.branco.visualizar-cv{
                font-size:.75em;
                line-height:30px;
                height:30px;
                padding:0 14px;
                margin:10px 0;

                &:before {
                    content: $glyphicon-search-o;
                    font-family: $font-emp-icons;
                    speak:none;
                    font-weight: normal;
                    font-size: 18px;
                    color: #999999;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }

        @media only screen and (max-width:380px) {
            .dados-candidato .nome-candidato span{max-width: 170px;}
        }
        
        @media only screen and (min-width:690px){
    
            .thumb,
            .dados-candidato{
                display:inline-block;
                vertical-align:middle;
            }

            .dados-candidato{
                text-align:left;
                margin:0 0 0 34px;

                .nome-candidato span{font-size:1.625em;}

                .email-candidato,
                .cargo-candidato{font-size:.9375em;}

                .nome-candidato .config-perfil {
                    margin-top:2px;
                    .config-conteudo .box-form label{font-size:.8275em;}
                }

            }


            .thumb,
            .moldura,
            .moldura img{
                width:110px;
                height:110px;        
            }

            .moldura{

                &:before{
                    @include centralize(106px,106px);
                }
                img{height:auto !important; margin-top:-68.5px;}
            }


            .thumb{

                &:after {
                    width: 36px;
                    line-height: 40px;
                    height: 36px;
                    font-size:34px;

                }
                .btn-padrao.branco{max-width:90px;}
            }

        }

        // Small
        &.small{

            .thumb, 
            .moldura,
            .moldura:before{
                width:60px;
                height:60px;
            }

             .moldura img{ width: 60px;}

            .thumb:after{
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 26px;
            }

            .moldura{
                img{margin-top: -37.5px;}
                &:before{
                    @include centralize(56px,56px);
                    background:url("#{$path-img}avatar-60x60.gif") no-repeat center;
                }
            }
        }

        // Tiny
        &.tiny{

            .thumb, 
            .moldura,
            .moldura:before{
                width:46px;
                height:46px;
            }

            .moldura img{ width: 46px;}

            .thumb:after{
                width: 23px;
                height: 23px;
                line-height: 23px;
                font-size: 13px;
            }

            .moldura{
                img{margin-top: -28.75px;}

                &:before{
                    @include centralize(42px,42px);
                    background:url("#{$path-img}avatar-44x44.gif") no-repeat center;
                }
            }
        }
        

        &.no-icon-photo .thumb:after{
                content:none;
        }
    }

    @media only screen and (min-width:790px){
        .visualizacao.edicao .area-foto .dados-candidato .nome-candidato span{max-width:280px;}
    }
}


